.main{
    display: flex;
}


.main_about{
    display: flex;
    flex-direction: column;
}

.search{
    width: 425px;
    height: 56px;
    left: 405px;
    top: 24px;
    padding: 5px 10px;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 28px;
    font-size: 20px;
    display: flex;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 2px 12px #A384FF;
}

.main_todo{
    display: flex;
    flex-wrap: wrap;
}

.empty{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.content_filter{
    font-size: 20px;
    font-weight: 400;
    background: #A384FF;
    color: #FFFFFF;
    letter-spacing: 10px;
    text-transform: uppercase;
    width: 140px;
    margin-left: 40px;
}

.filter_title{
    font-size: 14px;
    font-weight: 400;
    background: #A384FF;
    color: #FFFFFF;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 12px 10px 10px 0px;
}

.sort_title{
    display: flex;
    font-size: 14px;
    font-weight: 400;
    background: #A384FF;
    color: #FFFFFF;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 40px;
}

select{
    background: #FFFFFF;
    color: #A384FF;
    border: none;
    font-size: 16px;
    font-weight: 500;
    padding: 0 5px;
}

@media screen and (max-width: 768px) {
    .search{
        width: 358px;
        height: 42px;
    }

    .main_todo{
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
    }

    .todo{
        width: 200px;
        padding: 8px;
        height: 280px;
    }
    
    .todo_img{
        width: 200px;
        height: 170px;
    }

    .todo_firstName, .todo_lastName, .todo_age, .todo_group, .todo_grade{
        font-size: 13px !important;
        margin: 2px !important;
    }
}

@media screen and (max-width: 425px) {
    .search{
        width: 228px;
        height: 32px;
        margin-left: 30px;
    }

    .content_filter{
        font-size: 14px;
        width: 80px;
        letter-spacing: 5px;
    }

    .filter_title{
        font-size: 11px;
        margin: 15px 10px 12px 0px;
    }

    .sort_title{
        font-size: 11px;
    }

    select{
        font-size: 12px;
        padding: 0;
    }

    .todo{
        width: 140px;
        padding: 8px;
        height: 160px;
    }
    
    .todo_img{
        width: 140px;
        height: 90px;
    }

    .todo_firstName, .todo_lastName, .todo_age, .todo_group, .todo_grade{
        font-size: 9px !important;
        margin: 2px !important;
    }
}

@media screen and (max-width: 375px) {
    .search{
        width: 148px;
        height: 32px;
    }

    .search::placeholder{
        font-size: 12px;
    }

    .todo{
        width: 113px;
        padding: 8px;
        height: 160px;
    }
    
    .todo_img{
        width: 113px;
        height: 80px;
    }

    .todo_firstName, .todo_lastName, .todo_age, .todo_group, .todo_grade{
        font-size: 8px !important;
        margin: 2px !important;
    }
}

@media screen and (max-width: 320px) {
    .todo{
        width: 113px;
        padding: 10px;
        height: 160px;
    }
    
    .todo_img{
        width: 113px;
        height: 80px;
    }

    .todo_firstName, .todo_lastName, .todo_age, .todo_group, .todo_grade{
        font-size: 8px !important;
        margin: 2px !important;
    }
}