.container{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #A384FF ;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    left: 30%;
    margin-top: 10%;
    position: relative;
    width: 600px;
    height: 550px;
    flex-direction: column; 
    border: none solid;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0px 10px 32px 7px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 10px 32px 7px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 10px 32px 7px rgba(0,0,0,0.6); 
} 

.txt{
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}

.box_item{
    margin: 0 35px;
    width: 504px;
    margin-top: 20px;
    height: 60px;
    border: 2px solid #D9D9D9;
    border-radius: 20px;
    padding-left: 10px;
}

.box_item__btn{
    border: none;
    font-size: 18px;
    color: #FFFF;
    margin: 16px 35px;
    width: 515px;
    margin-top: 20px;
    height: 60px;
    background: #252525;
    border-radius: 20px;
}


/* .box_item__btn:focus{
    color: #252525;
    background-color: #fff;
} */
.box_item__btn:hover{
    background-color: #A384FF;
    cursor: pointer;
}


.link_register{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #252525;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background: transparent;
    margin: 0 auto;
    font-size: 18px;
}

.link_register:hover{
    color: #A384FF
}

.box_item__google-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {

    .txt{
        font-size: 24px;
    }

    .box{
    left: 15%;
    width: 500px;
    height: 420px;
    }

    .box_item{
    width: 410px;
    height: 40px;
    }

    .box_item__btn{
        font-size: 16px;
        width: 425px;
        height: 40px;
    }

    .link_register{
        font-size: 16px;
    }
}


@media screen and (max-width: 425px) {

    .txt {
        font-size: 20px;
    }

    .box {
        width: 300px;
        height: 380px;
}

.box_item {
    width: 220px;
    height: 28px;
    margin-top: 15px;
}

.box_item__btn {
    font-size: 14px;
    width: 235px;
    height: 28px;
}

.link_register {
    font-size: 14px;
}

}

@media screen and (max-width: 375px) {
.box {
    left: 10%;
}
}

@media screen and (max-width: 320px) {
.txt {
        font-size: 18px;
}

.box {
    width: 260px;
    height: 365px;
}
}

